header {
    position: center;
    font-size: 1em;
    font-family: Tahoma, Century Gothic, serif;
    width: 100%;
    background-color: #ECECEC;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    overflow: auto;
    background-color: #ECECEC;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 3em;
    font-family: Tahoma, Century Gothic, serif;
}

table {
    width: 700px;
}

td, th {
    padding: 5px;
    text-align: left;
}

th {
    padding: 10px;
    font-size: 1.5em;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

#studentIDSection {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ECECEC;
   /* background-color: #914B5B;*/
    text-align: center;
}

#studentIDInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 60px;
    margin: auto;
}

#studentID {
    width: 150px;
}

#classListName {
    width: 300px;
}

#startTime, #endTime {
    width: 100%;
}

#className {
    width: 100%;
}

#firstColumn {
    width: 120px;
}

#addClassButton {
    margin-top: 20px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#group1 {
    padding-left: 0;
}

.checkBox {
    margin-right: 4px;
    margin-top: 8px;
    width: 18px;
    height: 18px;
}

.checkLabel {
    font-family: Tahoma, Century Gothic, serif;
    font-size: 0.9em;
    margin-right: 10px;
}

.classRegion {
    padding: 10px;
    display: inline-block;
}

.inputElement, .classInfoElement, .submitButton {
    padding: 5px;
    font-size: 1.6em;
}

.submitButton {
    background-color: #FFFFFF;
    border: 1px solid gray;
    margin-left: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.submitButton:hover {
    background-color: #CDA9A9;
}

.inputElement, .classInfoElement {
    border: none;
}

.classInfoElement {
    width: 100%;
}

.nameRegion {
    position: absolute;
    display: block;
    left: 40px;
    top: 20px;
    width: 20%;
    text-align: left;
    font-family: Tahoma, Century Gothic, serif;
    font-weight: lighter;
}
